.titulo {
    color: #333;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
}

.letra {
    font-size: 40px;
}

.letra1 {
    font-size: 60px;
}

.padi {
    margin-bottom: 20px;
}

a[aria-expanded="true"] .icon {
    transform: rotate(180deg);
}

.padi2 {
    padding-bottom: 100px;
}

.padi3 {
    padding: 200px;
}

.padi4 {
    padding: 25px;
}

.color2 {
    color: #333;
}

img {
    height: 98%;
    width: 98%;
    max-height: 100px;
    max-width: 100px;
}

.preguntas .card {
    background-color: #f5b042;
    color: #ffffff;
}

.preguntas button {
    text-align: start !important;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none !important;
}

.preguntas button:hover {
    text-align: start !important;
    color: #ffffff;
}

@media (max-width: 768px) {

    .diagonal_text {
        font-family: 'Times New Roman', Times, serif;
        position: static;
        display: inline-block;
        color: #333;
        font-weight: bold;
        margin-top: 1px;
    }

    .diagonal_text2 {
        font-family: 'Times New Roman', Times, serif;
        position: static;
        display: inline-block;
        color: #333;
        margin-top: 1px;
    }

    .diagonal_text:hover {
        transform: rotate(0deg);
    }

    .diagonal_text2:hover {
        transform: rotate(0deg);
    }

    .titulo {
        color: black;
        font-size: 50px;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
    }

    .letra {
        font-size: 35px;
        font-family: 'Times New Roman', Times, serif;
    }

    .letra1 {
        font-size: 50px;
        font-family: 'Times New Roman', Times, serif;
    }

    .padi2 {
        padding-bottom: 50px;
    }

    .padi3 {
        padding: 100px;
    }
}