html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #181818;
    color: #ECF0F1;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background: radial-gradient(circle, #f5b042, #f39c12, #e77e23, #d15400, #bf3a2b);
    font-weight: bold;
    color: #ECF0F1;
    font-family: Arial, sans-serif;
    text-align: end;
    position: relative;
    z-index: 1;
    padding: 10px;
}

header h6 {
    margin-left: 5%;
    font-weight: bold;
    color: #bf3a2b !important;
}

header ul li ul {
    background-color: #f5b042 !important;
}

header ul a {
    font-size: 15px;
}

header a {
    color: #ffffff !important;
}

footer {
    background: radial-gradient(circle, #f5b042, #f39c12, #e77e23, #d15400, #bf3a2b);
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #ECF0F1;
    margin-top: auto;
    padding: 10px 0;
}

footer a {
    color: white !important;
    font-size: 13px;
}

.dropdown-menu {
    background-color: #f5b042 !important; 
    border: none; 
}

.dropdown-item {
    color: #ffffff !important;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #d15400 !important;
    color: white !important;
}

.dropdown-item:active {
    background-color: #bf3a2b !important;
    color: white !important;
}

.icon {
    width: 15px;
    height: 15px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-right: 8px;
    color: inherit;
}

.whatsapp-button {
    position: fixed;
    bottom: 5%;
    right: 20px;
    z-index: 1000;
}

.whatsapp-icon {
    width: 60px;
    height: 60px;
    border-radius: 50% 50% 50% 50%;
    background-color: #32d36d;
    transition: transform 0.3s ease;
}

.whatsapp-icon:hover {
    transform: scale(1.1);
}

.blurred-background {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #ffffff3f;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.blurred-background2 {
    background-color: #ffffff3f;
    backdrop-filter: blur(2px);
    color: white;
}

.subtitulo {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.color_1 {
    color: #f5b042;
}

.color_2 {
    color: #f39c12;
}

.color_3 {
    color: #e77e23;
}

.color_4 {
    color: #d15400;
}

.color_5 {
    color: #bf3a2b;
}

.socios h6 {
    font-weight: 900;
}