.titulo {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

img {
    height: 300px;
    width: 100%;
    border-radius: 5px;
    box-shadow: -5px 5px rgba(0, 0, 0, 0.2);
}